@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

.car-img {
  box-shadow: 0px 0px 20px 7px rgba(0, 0, 0, 0.1);
}